* {
    background-color: coral;
    padding: 0;
    margin: 0
}

.header {
    padding: 0;
    margin: 2em;
    height: 80px;
    color: #fff;
}

.main {
    background-color: gold;
    color: #fff;
    height: 100vh;
    padding: 10px 0;
    
}

.footer {
    padding: 0;
    margin: 2em;
    height: 50px;
    color: #fff;
}