@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Montserrat&display=swap');

* {
    background-color: coral;
    padding: 0;
    margin: 0
}

.header {
    padding: 0;
    margin: 2em;
    height: 80px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

.main {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: gold;
    color: #fff;
    height: 100vh;
    padding: 10px 0;
}

.header-container {
    margin: 10px;
}

.main-container
{
    margin: 10px;
}

.footer {
    padding: 0;
    margin: 2em;
    height: 50px;
    color: #fff;
}